.shooks_print {
  display: none;
}

@media print {
  .shooks_print {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    display: block;
  }
  [shooks_print]{
    z-index: 999999991;
  }
}
